/* DEBUG */

.debug * {
    border: 1px solid black;
}


/* INIT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: #031631;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}


/* MAIN */

.toDoList {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 50px auto 0;
}

img.logo {
    width: 200px;
}

.input_field {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 40%;
    margin: 50px 0;
}

.input_field input {
    flex: 1 1 auto;
    height: 30px;
    padding: 5px 15px;
    outline: gray;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.input_field input:focus {
    outline: #66dc73;
}

.input_field button {
    margin-left: 5px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    outline: transparent;
    transition: background-color 200ms ease-in-out;
}

.input_field button:hover {
    cursor: pointer;
    background-color: #66dc73;
}

.list_field {
    width: 85%;
}

.itemList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    height: 50px;
    overflow: hidden;
    transition: 200ms ease-in-out;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.list_field ul:last-child {
    border-bottom: 1px solid lightgray;
}

.itemList:hover {
    background-color: #66dc73;
}

.itemList i:first-child {
    font-size: 12px;
}

.itemList>p {
    flex: 1 1 auto;
    margin-left: 20px;
}

.itemList i:last-child {
    font-size: 20px;
    transition: 200ms ease-in-out;
    transform: translateX(30px);
}

.itemList:hover i:last-child {
    transform: translateX(0);
    cursor: pointer;
}

.suggest {
    text-align: justify;
    font-size: 14px;
    margin-top: 100px;
}

@media screen and (max-width:992px) {
    .input_field {
        width: 85%;
    }
    .input_field input {
        width: 100%;
    }
    .input_field button {
        width: 100%;
        margin-top: 5px;
        margin-left: 0;
    }
    .suggest {
        font-size: 10px;
    }
}